
# Binaries for programs and plugins
/bin
/hack/tools/bin

# GoReleaser output
/dist
/install.sh
/catalogd.yaml

# Output of the go coverage tool
*.out

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
